/* Layuot.css */
/*estilos de los elementos del encabezado*/
/*dando estilo al footer se aclara la duda sobre la coma es para indicar que es un y esto quiere decir que el header y footer van a tener una propiedad igual */
/*dando propiedades a nuestro footer*/
header, footer {
	background-color: #282828;
	/*la etiqueta position absolute es para fijar nuestro elemento ignorando cualquier otro comportamiento que haya tenido antes*/
	/*position: absolute;*/
	/*la etiqueta position fixed fija los elementos igual que absoluto */
	position: fixed;
	padding: 20px 0;
	box-sizing: border-box;
	width: 100%;
	color: #c3c1c1;
	
}

/*la etiqueta display con la propiedad block no se ejecuta o no se ve como se desea uno despues de otro en linea por lo que aun no se esta utilizando riticulas*/
header img {
	width: 250px;
	display: block;
} 
.layout_a{
	color: #c3c1c1;	
}
.layout_a:hover {
	text-decoration: underline;
	color: #FFF;
}
/* indica que elh header comience a dibujar desde el inicio del pixel*/
header{

	top: 0;

}
/*indica que el footer comience a dibujar desde el ultimo pixel hacia arriba*/
footer{

	bottom: 0;
}

img{
	width: 100%;
}
.same-height{
	max-height: 135px;
	overflow: hidden;
}