/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*estilo de la pagina propia*/
/*para completar la aparacion de nuestro fondo de la clase home hayq que darl al padre tambien el tamños usando la eiqueta height que en vertical*/
/*ahora utilizando los tipos de letras con la etiqueta font-family*/
/*con la etiqueta font-weight le damos la opcion a nuestros elementos de tipo texto que sean normal o negrillas a su vez si se desea que ciertos elemento sehan  de diferente aspecto se debe utilziar la etique en cada elemento que se desea ver diferente*/
html, body {
	color: #282828;
	height: 100%;
	/*con la eitqueta font-family se puede utlizar varios tipos de letras depende del navegador y de las configuracion del usuario podemos colocar como helvetica comomi configuracion y sans-serif si enel caso no haya helvetica*/
	font-family: 'Monda', sans-serif;
}
/*estilos de los elementos del encabezado*/
header {
	background-color: #282828;
}
/*la etiqueta display con la propiedad block no se ejecuta o no se ve como se desea uno despues de otro en linea por lo que aun no se esta utilizando riticulas*/
header img {
	width: 250px;
	display: block;
} 

nav ul li {
	color: #ffffff;
	display: inline;
	font-weight: 400;
}
/* En CSS dando estilos a nuestro elemento modificador clase home class="home"*/
/*utlizando la etiqueta backgraund-image: como fondo de nuestra clase home que se utilizamos una imagen*/
/*utilizando la etiqueta height para ver la imagen del fondo por motivos de que tamaño hay que darle valor de height como este en un hijo del padre html body hay que tambien colocar la etique height en nuestra linea de css valor para que pude aparecer nuestro fondo a utlizar*/
/*alineando el texto de nuestra clase home con la etiqueta text-align: center*/
/*dando formato al texto de nuestra clase con la etiqueta font-size*/
.home{
	background-image: url('assets/bg.jpg');
	height: 100%;
	text-align: center;
	color: #ffffff;
	/*font-size: 60px; /*con esta propiedad se realiza el cambio a todo el texto que hay dentro nuestra clase home*/
}
/*la parte del texto de nuestro h1 se a modificado mas grande sin afectar mas elementos*/
h1{
	font-size: 60px;
	text-transform: uppercase;/*dando ejemplo de como utilizlar la etiqueta text-transformet:*/
	font-weight: 700;
}
/*se creo nuestro segunda clase boton*/
/*vemos la etiqueta text-decoration´para quitar el subrayado de nuestro texto*/
/*la etiqueta text-transform: uppercase para colar nuestro texto a mayuscula la que esten en minusculas*/
/*utilizando la etiqueta background-color utilizando los colores en hexadecimal*/
/*pading: son lo bordes interior de nuestro elemento*/
/*cuando se utiliza padding hay que recordar que nuestro elemento crece un ejejmplo si al inicio le dimos a nuestro elemento 10px y despues le colocamos padding de 30px ahora ese lemento ya no ide los 10px sino 40px por que se suman los valores 10px del inicio y 30px del padding*/
.boton{
	color: #ffffff;
	text-decoration: none;
	text-transform: uppercase;
	background-color: #ffb400;
	padding: 20px 30px;
	/*padding-left: 30px;
	padding-right: 30px;
	padding-top: 20px;
	padding-bottom: 20px;/*estas cuatro lineas de codigo puedo hacer shorting que quiere decir utiliza la propiedad pading: y darle los cuatro valores para que tome la forma deseada **/
	font-weight: 400;
}