@import url('css/reset.css');
@import url('css/editorial.css');
@import url('css/secciones.css');
@import url('css/formas.css');
@import url('css/layout.css');


/*estilo de la pagina propia*/
/*para completar la aparacion de nuestro fondo de la clase home hayq que darl al padre tambien el tamños usando la eiqueta height que en vertical*/
/*ahora utilizando los tipos de letras con la etiqueta font-family*/
/*con la etiqueta font-weight le damos la opcion a nuestros elementos de tipo texto que sean normal o negrillas a su vez si se desea que ciertos elemento sehan  de diferente aspecto se debe utilziar la etique en cada elemento que se desea ver diferente*/
html, body {
	color: #282828;
	height: 100%;
	/*con la eitqueta font-family se puede utlizar varios tipos de letras depende del navegador y de las configuracion del usuario podemos colocar como helvetica comomi configuracion y sans-serif si enel caso no haya helvetica*/
	font-family: 'Monda', sans-serif;
}

